{% extends "base.html" %}

{% block title %}
Rozmazlíčci - {{type}}
{% endblock%}

{% block content %}
<h3 class="display-3">{{type|title}}!</h3>
{% with 'user:user_'|add:type as full_url %}
<form action="{% url full_url %}" method="POST">
    {% endwith %}
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="bg-danger text-white rounded text-center">
        {{form.non_field_errors}}
    </div>
    {% endif %}
    {% for field in form %}
    <div class="mb-3">

        <div class="form-control">
            <label class="form-label">{{ field.label }}</label>
            <br />
            {{ field }}
            {% if field.help_text %}
            <p class="help-inline"><small>{{ field.help_text }}</small></p>
            {% endif %}
            {% if field.errors %}
            <div class="bg-danger text-white rounded text-center">{% for error in field.errors %}{{ error }}{% endfor %}
            </div>
            {% endif%}
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Odeslat!</button>
</form>
{% endblock %}